.mini-header {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 18px;
}

.main-header {
    flex-grow: 0;
    font-size: 50px;
}

.visual-icon {
    height: 100%;
    width: 100%;
    -unity-background-scale-mode: scale-to-fit;
}
.visual-icon-parent
{
    transform-origin: center;
}

